In [7]:
import openml
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [8]:
# Get dataset by ID
dataset = openml.datasets.get_dataset(31)
# Convert to pandas dataframe
dataset = pd.DataFrame(dataset.get_data()[0])
dataset_encoded = pd.DataFrame()

In [9]:
dataset['personal_status'].view()

dataset.head()
# Encode using https://www.kaggle.com/getting-started/27270

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951.0,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096.0,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870.0,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad

In [24]:
# create a new dataframe to store the encoded features
encoded_dataset = pd.DataFrame()

# Encode categorical features into numerical values using one-hot encoding
encoded_dataset = pd.concat([encoded_dataset, pd.get_dummies(dataset['checking_status'], prefix='checking_status')], axis=1)
encoded_dataset = pd.concat([encoded_dataset, pd.get_dummies(dataset['credit_history'], prefix='credit_history')], axis=1)
encoded_dataset = pd.concat([encoded_dataset, pd.get_dummies(dataset['savings_status'], prefix='savings_status')], axis=1)
encoded_dataset = pd.concat([encoded_dataset, pd.get_dummies(dataset['employment'], prefix='employment')], axis=1)
encoded_dataset = pd.concat([encoded_dataset, pd.get_dummies(dataset['personal_status'], prefix='personal_status')], axis=1)
encoded_dataset = pd.concat([encoded_dataset, pd.get_dummies(dataset['other_parties'], prefix='other_parties')], axis=1)
encoded_dataset = pd.concat([encoded_dataset, pd.get_dummies(dataset['property_magnitude'], prefix='property_magnitude')], axis=1)
encoded_dataset = pd.concat([encoded_dataset, pd.get_dummies(dataset['other_payment_plans'], prefix='other_payment_plans')], axis=1)
encoded_dataset = pd.concat([encoded_dataset, pd.get_dummies(dataset['housing'], prefix='housing')], axis=1)
encoded_dataset = pd.concat([encoded_dataset, pd.get_dummies(dataset['existing_credits'], prefix='existing_credits')], axis=1)
encoded_dataset = pd.concat([encoded_dataset, pd.get_dummies(dataset['job'], prefix='job')], axis=1)

# Encode binary features into 0 and 1
encoded_dataset['foreign_worker'] = pd.Series(np.where(dataset['foreign_worker'] == 'yes', 1, 0),dataset.index)
encoded_dataset['own_telephone'] = pd.Series(np.where(dataset['own_telephone'] == 'yes', 1, 0),dataset.index)

# copy numerical features from source dataset
encoded_dataset['credit_amount'] = dataset['credit_amount']
encoded_dataset['duration'] = dataset['duration']
encoded_dataset['installment_commitment'] = dataset['installment_commitment']
encoded_dataset['residence_since'] = dataset['residence_since']
encoded_dataset['age'] = dataset['age']
encoded_dataset['num_dependents'] = dataset['num_dependents']

encoded_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 53 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   checking_status_<0                             1000 non-null   uint8
 1   checking_status_0<=X<200                       1000 non-null   uint8
 2   checking_status_>=200                          1000 non-null   uint8
 3   checking_status_no checking                    1000 non-null   uint8
 4   duration                                       1000 non-null   uint8
 5   credit_history_no credits/all paid             1000 non-null   uint8
 6   credit_history_all paid                        1000 non-null   uint8
 7   credit_history_existing paid                   1000 non-null   uint8
 8   credit_history_delayed previously              1000 non-null   uint8
 9   credit_history_critical/other existing credit  1000 non-null   uint8
 10  credit_amount                                  1000 non-null   float64
 11  savings_status_<100                            1000 non-null   uint8
 12  savings_status_100<=X<500                      1000 non-null   uint8
 13  savings_status_500<=X<1000                     1000 non-null   uint8
 14  savings_status_>=1000                          1000 non-null   uint8
 15  savings_status_no known savings                1000 non-null   uint8
 16  employment_unemployed                          1000 non-null   uint8
 17  employment_<1                                  1000 non-null   uint8
 18  employment_1<=X<4                              1000 non-null   uint8
 19  employment_4<=X<7                              1000 non-null   uint8
 20  employment_>=7                                 1000 non-null   uint8
 21  installment_commitment                         1000 non-null   uint8
 22  personal_status_male div/sep                   1000 non-null   uint8
 23  personal_status_female div/dep/mar             1000 non-null   uint8
 24  personal_status_male single                    1000 non-null   uint8
 25  personal_status_male mar/wid                   1000 non-null   uint8
 26  personal_status_female single                  1000 non-null   uint8
 27  other_parties_none                             1000 non-null   uint8
 28  other_parties_co applicant                     1000 non-null   uint8
 29  other_parties_guarantor                        1000 non-null   uint8
 30  residence_since                                1000 non-null   uint8
 31  property_magnitude_real estate                 1000 non-null   uint8
 32  property_magnitude_life insurance              1000 non-null   uint8
 33  property_magnitude_car                         1000 non-null   uint8
 34  property_magnitude_no known property           1000 non-null   uint8
 35  age                                            1000 non-null   uint8
 36  other_payment_plans_bank                       1000 non-null   uint8
 37  other_payment_plans_stores                     1000 non-null   uint8
 38  other_payment_plans_none                       1000 non-null   uint8
 39  housing_rent                                   1000 non-null   uint8
 40  housing_own                                    1000 non-null   uint8
 41  housing_for free                               1000 non-null   uint8
 42  existing_credits_1                             1000 non-null   uint8
 43  existing_credits_2                             1000 non-null   uint8
 44  existing_credits_3                             1000 non-null   uint8
 45  existing_credits_4                             1000 non-null   uint8
 46  job_unemp/unskilled non res                    1000 non-null   uint8
 47  job_unskilled resident                         1000 non-null   uint8
 48  job_skilled                                    1000 non-null   uint8
 49  job_high qualif/self emp/mgmt                  1000 non-null   uint8
 50  num_dependents                                 1000 non-null   uint8
 51  foreign_worker                                 1000 non-null   int32
 52  own_telephone                                  1000 non-null   int32
dtypes: float64(1), int32(2), uint8(50)
memory usage: 64.6 KB

In [ ]:
plt.figure(figsize=(12,12))
sns.heatmap(dataset.corr(), annot=True,cmap="YlGnBu")

In [15]:
pd.concat([encoded_dataset, pd.get_dummies(dataset['checking_status'], prefix='checking_status')], axis=1)

,duration,credit_amount,installment_commitment,residence_since,age,num_dependents,foreign_worker,own_telephone,checking_status_<0,checking_status_0<=X<200,checking_status_>=200,checking_status_no checking
0,6,1169.0,4,4,67,1,1,1,1,0,0,0
1,48,5951.0,2,2,22,1,1,0,0,1,0,0
2,12,2096.0,2,3,49,2,1,0,0,0,0,1
3,42,7882.0,2,4,45,2,1,0,1,0,0,0
4,24,4870.0,3,4,53,2,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,1736.0,3,4,31,1,1,0,0,0,0,1
996,30,3857.0,4,4,40,1,1,1,1,0,0,0
997,12,804.0,4,4,38,1,1,0,0,0,0,1
998,45,1845.0,4,4,23,1,1,1,1,0,0,0
999,45,4576.0,3,4,27,1,1,0,0,1,0,0